<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3">
	<listeners>
		<listener class-name="initialSetUp.ExtentReportManager" />
	</listeners>
	<test name="Edge_Test2">
		<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="hackathonProject.Requirement_1" />
			<class name="hackathonProject.Requirement_2" />
			<class name="hackathonProject.Requirement_3" />	
		</classes>
	</test>
</suite> <!-- Suite -->